<div>
    <h2>Update Your Profile</h2>
    <form [formGroup]="userPersonalForm" class="example-form">

        <mat-form-field class="example-full-width">
            <input matInput placeholder=" YourName" formControlName="name" [(ngModel)]="this.userPersonal.name">
        </mat-form-field>
        <mat-error *ngIf="userPersonalForm.controls['name'].hasError('required') && userPersonalForm.controls['name'].touched">
            <h6>Please enter your name.</h6>
        </mat-error>
        <mat-error *ngIf="userPersonalForm.controls['name'].hasError('maxlength')">
            <h6>Can't exceed 30 characters.</h6>
        </mat-error>
        <mat-error *ngIf="userPersonalForm.controls['name'].hasError('minlength')">
            <h6> Can't less than 2 characters.</h6>
        </mat-error>


        <br>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Last Name" formControlName="lastName" [(ngModel)]="this.userPersonal.lastName">
        </mat-form-field>
        <mat-error *ngIf="userPersonalForm.controls['lastName'].hasError('required') && userPersonalForm.controls['lastName'].touched">
            <h6> Please enter your last name.</h6>
        </mat-error>
        <mat-error *ngIf="userPersonalForm.controls['lastName'].hasError('maxlength')">
            <h6>Can't exceed 30 characters.</h6>
        </mat-error>
        <mat-error *ngIf="userPersonalForm.controls['lastName'].hasError('minlength')">
            <h6> Can't less than 2 characters.</h6>
        </mat-error>


        <br>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Email*" formControlName="email" [(ngModel)]="this.userPersonal.email">
        </mat-form-field>
        <mat-error *ngIf="userPersonalForm.controls['email'].hasError('required') && userPersonalForm.controls['email'].touched">
            <h6>Please enter your email.</h6>
        </mat-error>
        <mat-error *ngIf="userPersonalForm.controls['email'].hasError('maxlength')">
            <h6>Can't exceed 30 characters.</h6>
        </mat-error>
        <mat-error *ngIf="isEmailCheck">
            <h6> Email already exists.</h6>
        </mat-error>
        <mat-error *ngIf="userPersonalForm.controls['email'].hasError('email') && userPersonalForm.controls['email'].touched">
            <h6> Invaild email address.</h6>
        </mat-error>


        <br>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Contact Number*" formControlName="contactNumber" [(ngModel)]="this.userPersonal.contactNumber">
        </mat-form-field>
        <mat-error *ngIf="userPersonalForm.controls['contactNumber'].hasError('required') && userPersonalForm.controls['contactNumber'].touched">
            <h6>Please enter your contact number.</h6>
        </mat-error>
        <mat-error *ngIf="isContactCheck">
            <h6> Contact already exists.</h6>
        </mat-error>


        <br>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Old Password " type="password" formControlName="oldPassword">
        </mat-form-field>
        <mat-error *ngIf="userPersonalForm.controls['oldPassword'].hasError('minlength') && userPersonalForm.controls['password'].touched">
            <h6>Please enter your current password.</h6>
        </mat-error>
        <mat-error *ngIf="!isOldPassword">
            <h6>Old password did not match.</h6>
        </mat-error>


        <br>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="New Password " type="password" formControlName="password">
            <mat-hint align="end">hint 1qqQQQ</mat-hint>
        </mat-form-field>
        <mat-error *ngIf="userPersonalForm.controls['password'].hasError('minlength')">
            <h6>Please enter at least 6 char.</h6>
        </mat-error>


        <br>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Confirm Password " type="password" formControlName="confirmPassword">
        </mat-form-field>
        <mat-error *ngIf="!isConfirm"> Password and Confirm Password did not match. </mat-error>

        <button mat-raised-button class="mat-primary full-width mb-1" (click)="C_userPersonal()" [disabled]="userPersonalForm.invalid">Submit</button>

    </form>
</div>