<div>
    <h2>Please give your registered email id..</h2>

    <form [formGroup]="forgotForm" class="example-form">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Email Id" formControlName="email">
        </mat-form-field>
        <mat-error *ngIf="forgotForm.controls['email'].hasError('required') && forgotForm.controls['email'].touched">
            <h6> Please enter your email id.</h6>
        </mat-error>
        <mat-error *ngIf="!isFlag">
            <h6>email doesnot exist.</h6>
        </mat-error>
        <br>

        <button mat-raised-button class="mat-primary full-width mb-1" (click)="C_forgotPassword()" [disabled]="forgotForm.invalid">Submit</button>
        
    </form>

</div>