<div *ngIf="flag">
  <div *ngIf="role!=='guest'">
    <a [routerLink]="['/userPersonal', id]">
      Update your profile</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a [routerLink]="" (click)="logout()">
      logout</a>
  </div>
  <br>
  <br>
  <mat-form-field>
    <mat-select placeholder="Select City" #selectCity (change)="getTheatres(selectCity.value)">
      <mat-option>-- None --</mat-option>
      <mat-option *ngFor="let city of cities" [value]="city.cityId">
        {{city.cityName}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select Theatre" #selectTheatre (change)="getMovies(selectTheatre.value)">
      <mat-option>-- None --</mat-option>
      <mat-option *ngFor="let theatre of theatres" [value]="theatre.theatreId">
        {{theatre.theatreName}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select Movie" #selectMovie (change)="getShowTime(selectMovie.value)">
      <mat-option>-- None --</mat-option>
      <mat-option *ngFor="let movie of movies" [value]="movie.movieId">
        {{movie.movieName}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field class="example-full-width">
    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Choose a date" (dateInput)="addEvent('input', $event)"
      (dateChange)="addEvent('change', $event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>


  <mat-form-field>
    <mat-select placeholder="Select Show Time" #selectTime (change)="readyToWidget(selectTime.value)">
      <mat-option *ngFor="let time of times" [value]="time">
        {{time}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button class="mat-primary full-width mb-1" (click)="goToWidget()" [disabled]="flag2">Submit</button>
  <div *ngIf="role!=='guest'">
    <button mat-raised-button class="mat-primary full-width mb-1" (click)="getUserHistory()">See your History</button>
    <button mat-raised-button class="mat-primary full-width mb-1" (click)="cancelTicket()">Cancel Tickets</button>
  </div>
</div>

<!-- User History -->

<div *ngIf="!flag">

  <div class="example-container mat-elevation-z8">
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort>

      <!-- Position Column -->
      <ng-container matColumnDef="city name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> City </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.sbCityName}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="theatre name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Theatre </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.sbTheatreName}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="movie name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Movie </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.sbMovieName}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="status" *ngIf="!cancel">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.sbStatus}}
        </mat-cell>
      </ng-container>


      <!-- for cancel ticket-->
      <ng-container matColumnDef="status" *ngIf="cancel">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="" (click)="goToCancelTickets(element.seatBookingId,element)">
            {{element.sbStatus}}
          </a>
        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.sbDate}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="showtime">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Show Time </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.sbShowTime}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="seat name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Seat Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.seatName}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
    </mat-paginator>

  </div>
  <button mat-raised-button class="mat-primary full-width mb-1" (click)="previousPage()">previous</button>
</div>